body {
  position: relative;
  max-width: 960px;
  margin: 150px auto;
  font-family: $site-font-family;
  font-size: $site-font-size;
  color: $default-color;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.logo {
  position: absolute;
  top: -151px;
  right: 0;
}

h1 {
  position: relative;
  font-size: 72px;
  line-height: 1em;
  font-weight: bold;
  color: $color-01;
  margin-bottom: $medium-margin;

  &:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 25%;
    background-color: rgba($color-0, .7);
  }
}

h2 {
  position: relative;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: bold;
  color:  $color-01;
  margin-bottom: $medium-margin;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: rgba($color-0, .5);
  }
}

p,
a {
  margin-bottom: $medium-margin;
  font-size: $site-font-size;
  color: $text-color-01;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


@media screen and (max-width: 1000px) {
  margin: 150px $large-margin;
}

@media screen and (max-width: 768px) {
  body {
    width: 96%;
    margin: 100px 2%;
  }

  .logo {
    top: -101px;
  }

  h1:hover {
    height: 60%;
  }
}
