.filter-nav {

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  padding: 10px;
  text-align: center;
  background-color: $color-01;
  border-top: 2px solid rgba($color-01, .1);

  .filters {
    margin-top: 5px;
  }

  ul {
    // @include display-flex;
    // @include justify-content(space-between);
    // @include align-content(center);

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    justify-content: space-between;
    justify-content: -webkit-space-between;
    justify-content: -moz-space-between;
    justify-content: -ms-space-between;

    align-content: center;
    align-content: -webkit-center;
    align-content: -moz-center;
    align-content: -ms-center;

    width: 50%;
    margin: 0 auto;
  }

  li {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;

    &.is-active {
      color: $text-color-01;
      background-color: $color-0;

      label {
        color: $color-01;
      }
    }

  }

  label {
    font-family: $site-font-family;
    font-size: $site-font-size;
    color: $color-0;
    padding-right: 15px;
    cursor: pointer;

  }

  input {
    opacity: 0;
  }
}
