.map {
  width: 49%;
  height: 400px;
  background-color: #ddd;

  &:first-of-type {
    float: left;
  }

  &:last-child {
    float: right;
  }
}


.city-wrapper {
  margin-bottom: $large-margin;
  overflow: hidden;
}


@media screen and (max-width: 540px) {
  .map {
    width: 90%;
    margin: 20px auto;
    pointer-events: none;

    &:first-of-type {
      float: none;
    }

    &:last-child {
      float: none;
    }
  }
}
