.mod-navigation {
  margin-bottom: $large-margin;

  ul {
    // @include display-flex();
    // @include justify-content(space-between);
    // @include flex-direction(row);

    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    justify-content: space-between;
    justify-content: -webkit-space-between;
    justify-content: -moz-space-between;
    justify-content: -ms-space-between;

    flex-direction: row;
    flex-direction: -webkit-row;
    flex-direction: -moz-row;
    flex-direction: -ms-row;

    flex-wrap: wrap;
  }

  li {
    margin-right: 10px;
  }

  a {
    display: block;
    position: relative;
    color: $text-color-01;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: rgba($color-01, .7);

      transition: height .3s ease;
    }

    &:hover:after {
      height: 50%;
    }
  }
}


