<div class="filters">
  <ul>
    <li class="is-active"><label><input type="radio" name="meters" value="1m" checked>1m</label></li>
    <li><label><input type="radio" name="meters" value="3m" >3m</label></li>
    <li><label><input type="radio" name="meters" value="5m" >5m</label></li>
  </ul>
</div>
